<div id="modalPrivacy" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalPrivacyLabel">
   
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="bg-primary">

                <div class="modal-header">
                    <button type="button" class="close locator-modal-close" data-dismiss="modal" aria-label="Close">
                        <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                    </button>

                    <div class="modal-title h3">Go2Broadband Privacy Policy</div>
                </div>

                <div class="modal-body">
                    Go2Broadband Protects the Privacy of Your Personally Identifiable Information
                    <br />
                    <br />
                    Go2Broadband understands the importance of safeguarding your personally identifiable information. We use the personally identifiable information you provide to us for a very narrow and specific purpose: to help you learn what cable services are available in your neighborhood, which cable company provides them, and to help you sign up for the services you choose.
                    <br />
                    <br />
                    When you first ask Go2Broadband for information about cable services in your area, we need to know your physical address. We use your address to determine which cable company or companies provide services to your neighborhood. Cable companies use Go2Broadband to give you specific information about its cable service offers that are available at your address. Should you choose to place an order for cable services, you will then need to supply Go2Broadband with additional personally identifiable information.
                    <br />
                    <br />
                    Our policy regarding this information is simple. Go2Broadband will not sell or rent any of the personally identifiable information you provide. In fact, Go2Broadband doesn't even store or use the personally identifiable information you supply EXCEPT to transfer it to the cable company that offers in your neighborhood the services you are interested in. And, unless you decide otherwise, the cable company can only use your information as necessary to furnish to you the services you have selected through Go2Broadband. If you would like, the cable company providing services to your address will send you information about other services that they make available to customers in your area. Check the box if you would like to be provided this information.
                    <br />
                    <br />
                    We do collect aggregate statistical data, without names or specific street addresses, on the use of Go2Broadband. We do this in order to monitor customer traffic patterns and service use. This helps us administer the Go2Broadband service and improve its design and performance. We also keep a log of your broadband query and response for approximately one month for troubleshooting purposes.
                    <br />
                    <br />
                    Copyright Kyrio, Inc. 2010. All rights reserved.
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>