<div id="modalTermsOfUse" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalTermsOfUse">
    
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="bg-primary">
                
                <div class="modal-header">
                    <button type="button" class="close locator-modal-close" data-dismiss="modal" aria-label="Close">
                        <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                    </button>

                    <div class="modal-title h3">Terms of Use</div>
                </div>

                <div class="modal-body">
                    This Go2Broadband site is for use by individual consumers only, to identify which cable television system operator provides service to a particular address, and what specific services are available. Commercial use for any other purpose is prohibited. Kyrio reserves the right to restrict any use of this site that does not meet this policy.
                </div>
            </div>
        </div>
    </div>
</div>