////////////
// Button //
////////////

.button {
    outline: none;
    border: 0;
    background: $color-orange;
    font-family: $font-emph;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: $color-light;
    cursor: pointer;
    line-height: 1.2;
    @include bp--l {
        font-size: 3.0rem;
    }

    &:hover {
        color: $color-dark;
    }

    &--full-width {
        padding: 0.6rem 1.1rem;
        width: 100%;
        text-align: center;
        @include bp--m {
            padding: 1.7rem;
        }
    }

    &--square {
        height: 4.4rem;
        width: 4.4rem;
        @include bp--l {
            height: 7.0rem;
            width: 7.0rem;
        }
    }
}
