////////////
// Button //
////////////

.button {
    outline: none;
    border: 0;
    background: $color-orange;
    font-family: $font-emph;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: $color-light;
    cursor: pointer;
    line-height: 1.2;
    @include bp--l {
        font-size: 3.0rem;
    }

    &:hover {
        color: $color-dark;
    }

    &--full-width {
        padding: 0.6rem 1.1rem;
        width: 100%;
        text-align: center;
        @include bp--m {
            padding: 1.7rem;
        }
    }

    &--square {
        height: 4.4rem;
        width: 4.4rem;
        @include bp--l {
            height: 7.0rem;
            width: 7.0rem;
        }
    }
}

.button--swipe {
    .swipe-holder {
        position: relative;
        text-align: left;

        span {
            position: absolute;
            width: 0;
            top: 0;
            left: 0;
            height: 100%;
            overflow: hidden;
            transition: width 0.2s;

            &:before {
                content: attr(data-text);
                z-index: 1;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                color: $color-dark;
            }
        }
    }

    &:hover {
        color: $color-white;

        .swipe-holder span {
            width: 100%;
            transform: translateZ(0);
        }
    }
}
