//////////
// Form //
//////////

.form {
    max-width: 43rem;
    margin-left: auto;
    margin-right: auto;

    @include bp--m {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    &--condensed .form__button.button--full-width {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.form__row {
    position: relative;
    margin-bottom: 1px;

    &--boxed {
        padding: 0.9rem;
        border: 1px solid darken($color-semi-light, 8%);

        @include bp--m {
            padding: 1.2rem;
        }
    }

    .icon {
        position: absolute;
        font-size: 1.2rem;
        top: 1.2rem;
        right: 1.2rem;

        @include bp--l {
            top: 2.4rem;
            right: 2.4rem;
            font-size: 2.0rem;
        }
    }
}

.form__legend {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: lighten($color-med, 8%);
    font-weight: 700;
    margin-bottom: 0.9rem;

    @include bp--m {
        margin-bottom: 1.2rem;
    }

    @include bp--l {
        font-size: 1.4rem;
    }
}

.form__input,
.form__label,
.form__textarea,
.style-select {
    border-radius: 0;
    @include bp--l {
        font-size: 2.0rem;
    }
}

.form__hide {
    max-height: 0;
    overflow: hidden;
    margin-bottom: 0;
    opacity: 0;
    transition: max-height 0.3s ease-in-out, margin-bottom 0.3s ease-in-out, opacity 0.3s;

    &.form__reveal {
        transform: translateZ(0);
        max-height: 30rem;
        opacity: 1;
        margin-bottom: 1px;
    }
}

.form__input,
.form__select,
.form__textarea,
.style-select .ss-selected-option,
.style-select .ss-option {
    display: block;
    width: 100%;
    background: $color-light;
    padding: 1.2rem;
    border: 0;
    outline: 0;
    margin-bottom: 0;
    font-family: $font-standard;

    @at-root .form--light & {
        background: $color-semi-light;
        transition: background 0.3s;
    }

    @include bp--l {
        padding: 2.3rem;
    }

    &:focus {
        outline: 0;
    }
}

.form--light .form__input:focus,
.form--light .form__select:focus {
    background: #FAFAFA;
}

.form__group {
    display: table;
    width: 100%;
}

.form__group .group__item {
    color: $color-med;
    display: table-cell;
    vertical-align: middle;

    &--checkbox {
        height: 4.4rem;
        position: relative;
        background: $color-light;
        width: 100%;

        @at-root .overlay & {
            color: $color-light;
            background: $color-blue;
        }

        @at-root .form--light & {
            background: $color-semi-light;
        }

        @include bp--l {
            height: 7.1rem;
        }
    }

    &--button .button {
        margin-left: 1px
    }
}

.form__row--checkbox {
    color: $color-med;
    height: 4.4rem;
    position: relative;
    background: $color-light;
    width: 100%;

    .form__checkbox + .form__label {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }

    @at-root .form--light & {
        background: $color-semi-light;
    }

    @include bp--l {
        height: 7.1rem;
    }
}

.form__input {}
.form__textarea {
    height: 7.5rem;
    @include bp--l {
        height: 14.1rem;
    }
}

.form__button {
    padding: 1.0rem 1.1rem 1.2rem;

    @include bp--l {
        padding: 1.7rem 1.8rem 1.8rem;
    }

    &.button--full-width {
        margin-top: 4.8rem;

        @include bp--l {
            margin-top: 6.8rem;
        }

        @at-root .column & {
            padding: 0.8rem;

            @include bp--l {
                padding: 1.7rem 1.8rem;
            }
        }

        @at-root .form > & {
            padding: 1.2rem 0.9rem;

            @include bp--l {
                padding: 3.2rem 1.8rem;
            }
        }

        &:last-child {
            margin-bottom: 4.8rem;

            @include bp--l {
                margin-bottom: 9.2rem;
            }
        }
    }
}

.form__label {
    color: $color-med;
    position: absolute;
    display: block;
    top: 1.2rem;
    left: 1.2rem;
    transition: top 0.2s ease-out, left 0.2s ease-out, font-size 0.2s ease-out;

    @include bp--l {
        top: 2.4rem;
        left: 2.4rem;
    }
}

.form__input.form__has-value + .form__label,
.form__textarea.form__has-value + .form__label,
.form__input:focus + .form__label,
.form__textarea:focus + .form__label {
    font-size: 0.8rem;
    top: 0.2rem;
    left: 0.4rem;
    transform: translateZ(0);

    @include bp--l {
        font-size: 1.2rem;
    }
}

.form__checkbox {
    display: none;

    + .form__label {
        font-size: 1.0rem;
        padding-left: 3.0rem;
        padding-right: 2.4rem;
        top: 0;
        left: 0;
        position: relative;
        z-index: 1;
        @at-root .overlay & {
            color: $color-light;

            &:before {
                background: $color-light;
            }
        }

        @at-root .form--light & {
            color: $color-semi-dark;
        }

        @include bp--m {
            font-size: 1.1rem;
        }

        @include bp--l {
            font-size: 1.6rem;
            padding-left: 4.8rem;
        }

        &:hover {
            cursor: pointer;
        }

        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 1rem;
            padding: 0.5rem;
            background: $color-white;
            transform: translate(0, -50%);
            z-index: 1;

            @include bp--l {
                left: 1.6rem;
                padding: 0.9rem;
                border-radius: 0.2rem;
            }
        }

        &:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 1.0rem;
            padding: 0.3rem;
            background: $color-blue;
            transform: translate(0, -50%);
            z-index: 2;
            opacity: 0;

            @include bp--m {
                left: 1.9rem;
                padding: 0.6rem;
                border-radius: 0.1rem;
            }
        }
    }

    &:checked + .form__label:after {
        transform: translate(0, -50%) translateZ(0);
        opacity: 1;
    }
}

.form__spacer {
    display: block;
    margin-top: 3.6rem;

    @include bp--l {
        margin-top: 4.8rem;
    }
}

.form-list {
    margin-bottom: 2.4rem;

    &.column--m {
        margin-top: 3.6rem;

        @include bp--m {
            margin-top: 0;
        }
    }

    &__label {
        color: $color-semi-dark;
        font-weight: 700;
        margin-bottom: 1.8rem;
        font-size: 1.4rem;

        @include bp--l {
            font-size: 2.0rem;
            margin-bottom: 2.8rem;
        }
    }

    &__item {
        &--checkbox {
            .form__checkbox + .form__label {
                padding-right: 0;
                padding-left: 2rem;
                margin: 0.8rem 0;

                @include bp--l {
                    padding-left: 3.6rem;
                    margin: 1.2rem 0;
                }

                &:before {
                    left: 0;
                    background: $color-med-light;
                    padding: 0.6rem;

                    @include bp--l {
                        padding: 0.9rem;
                    }
                }

                &:after {
                    left: 0.3rem;
                    padding: 0.3rem;

                    @include bp--l {
                        left: 0.4rem;
                        padding: 0.5rem;
                    }
                }
            }
        }
    }
}

// **
// Custom Selects
// *

select[data-ss-uuid] {
    display: none;
    pointer-events: none;
}

.style-select {
    display: block;
    position: relative;
    width: 100%;
    z-index: 2;

    &,
    * {
        cursor: pointer;
    }

    .ss-selected-option {
        width: 100%;

        &:after {
            content: "▾";
            position: absolute;
            top: 1.2rem;
            right: 1.2rem;
            display: block;
            color: $color-dark;
            transform: translateZ(0);
            transition: transform 0.3s;

            @include bp--l {
                top: 2.3rem;
                right: 2.23rem;
            }
        }
    }

    .ss-dropdown {
        top: calc(100% + 1px);
        left: 0;
        position: absolute;
        width: 100%;
        opacity: 0;
        display: block;
        pointer-events: none;
        border: 0;
        transition: opacity 0.3s;

        .ss-option {
            width: 100%;
            transform: translateZ(0);
            transition: background-color 0.3s, color 0.3s;
            margin-bottom: 1px;

            &.highlighted {
                background-color: $color-blue;
                color: $color-light;
            }

            &.ticked {
                background-color: $color-blue;
                color: $color-light;
            }

            &.disabled {
                display: none;
            }
        }
    }

    &.open {
        .ss-dropdown {
            pointer-events: auto;
            transform: translateZ(0);
            opacity: 1;
        }

        .ss-selected-option::after {
            transform: rotateX(-180deg) translateZ(0);;
        }
    }
}
