/////////////////
// Interaction //
/////////////////

.interaction--load {
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    transform: translateZ(0) translateY(1.8rem);
    backface-visibility: hidden;

    &.page__header {
        transform: none;
    }
}

.interaction--loading {
    transform: translateZ(0) translateY(0);
    backface-visibility: hidden;
}

.interaction--loaded {
    opacity: 1;
    transform: translateZ(0) translateY(0);
    backface-visibility: hidden;
}
