/////////////
// Overlay //
/////////////

.overlay {
    background-size: cover;
    background-position: center center;
    position: relative;
}

.overlay__media {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.overlay .section__header {
    color: $color-light;
}

.overlay .section__title .title--emph {
    color: $color-light;
}
