////////////
// Layout //
////////////

.row {
    @include max-width();
    @extend %clearfix;

    &--wide {
        @include max-width(true);
        
        .row--wide {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .column {
        display: block;
        width: 100%;
    }

    @include bp--m {
        .column--m {
            display: inline-block;
            float: left;

            &-1-2 {
                width: 50%;
            }
        }
    }

    // @include bp--l {
    //     .column--l {
    //         display: inline-block;
    //         float: left;
    //         
    //         &-1-2 {
    //             width: 50%;
    //         }
    //         
    //         &-2-5 {
    //             width: 40%;
    //         }
    //         
    //         &-3-5 {
    //             width: 60%;
    //         }
    //     }
    // }
}
