///////////
// Links //
///////////

a,
a:visited {
    text-decoration: none;
}

// This rule targets links that don't have a
// class="..." attribute on them
a:not([class]) {
    text-decoration: underline;
}
